
.container-fluid{
    height: 45vh;
    Background-image: linear-gradient(to right, rgb(0 0 0 / 80%), rgba(0, 0, 0, 0.5)), url('./assets/code-fuente.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
