html{
    margin: 0;;
}
.container-fluid{
    height: 45vh;
    Background-image: linear-gradient(to right, rgb(0 0 0 / 80%), rgba(0, 0, 0, 0.5)), url('./assets/code-fuente.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.computer-icon{
    width: 20%;
}
.container-sm{
    max-width: 900px;
    margin: 0 auto;
}
.timeline-item{
    position: relative;
}
.timeline-icon {
    width: 100%;
    position: relative;
}

/*.timeline-icon::before {
    content: '';
    position: absolute;
    height: 6px;
    background-color: #f39c12;
    top: 50%;
    left: 0;
    right: 0;
    transform: translatey(-50%);
}*/
.title-number{
    position: relative;
    width: 100%;
}
.icons::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #f39c12;
    top: 22px;
    left: 50%;
    right: 0;
    transform: translatey(-50%);
    z-index: -1;

}
.timeline-item:last-child .icons::after{
    display: none;
}

.timeline-event {
    position: relative;
    display: flex;
    justify-content: center;
}

.timeline-circle {
    width: 40px;
    height: 40px;
    background-color: #f39c12;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 1;
    position: relative;
}
.cicrle1{
    display: flex;
    justify-content: start;
}
.cicrle3{
    display: flex;
    justify-content: end;
}
.container-prin {
    background-color: #f0f0f0;
}
.timeline-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7a327;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    z-index: 9999;
}
.row{
    margin-right:  0;
    padding-right: 0;
}
.rer{
    justify-content: center;
}
@media(max-width: 768px){
    .computer-icon{
        width: 100%;
    }
    .btn-danger{
        width: 40% !important;;
    }
    .image-user{
        width: 60% !important;
    }
    .content-text{
        margin-left: 1.5rem ;
    }
    .timeline {
        flex-direction: column;
    }
    .timeline-item {
        margin-bottom: 20px;
        width: 100%;
    }
    .icons::after{
        height: 4px;
        width: 100%;
        top: calc(50% - 2px);
        left: 0;
        background-color: white;
    }

}